* {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

main {
    margin: 1.5rem;
}

#header p {
    background-color: #B87333;
    height: 20%;
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.booksTable {
    margin: 8px;
    text-align: center;

    min-height: fit-content;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
th, td {
    border: 1px solid white
}

thead {
    background-color: grey;
}

.addBooksBtn {
    display: flex;
    margin-bottom: 2rem;
}
button {
    font-size: 1.2rem;
    padding: .75rem;
    text-align: center;
    margin: auto;
    justify-content: center;
    border-radius: 2rem;
    outline: none;
    border-style: none;
    background-color: white;
    color: black;
}

dialog {
    width: 60%;
}
fieldset {
    margin-bottom: 1rem;
}
.labelSection {
    padding: .4rem 0;
}

.inputSection {
    margin-bottom: 2rem;
}
input {
    width: 70%;
    padding: .4rem;
}

button.btn {
    padding: .5rem;
    font-size: 1rem;
    margin-right: .5rem;
}

button:hover {
    background-color: 	#B87333;
    color: white;
}

button:focus {
    outline: 4px solid #B87333                  ;
}

